.hero {
    display: flex;
    flex-direction: column;
    position: relative;
}

.heroText {
    position: absolute;
    color: white;
    top: 15%;
    left: 35%;
    font-size: 3rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.heroSubText {
    position: absolute;
    color: white;
    top: 21%;
    left: 38.2%;
    font-size: 1.7rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.heroImg {
    width: 100%;
    margin-bottom: 6%;
}